.container{
    display: grid; 
    grid-template-columns: 50% 50%;
}
.Title{
    text-align:center;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
