<html>
    <head>
        <title>Welcome!</title> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
    </head>
    <body>
        <!--image-->
        <div class="Title">
             <h1>Stocks and Climate Change Simulator</h1>
        </div>
        <div class="container">
            <div>
                <table style="width:100%">
                  <tr>
                    <th>Stock Name</th>
                    <th>Symbol</th> 
                  
                  </tr>
                  <tr>
                    <td>Apple</td>
                    <td>AAPL</td> 
                   
                  </tr>
                  <tr>
                    <td>Verizon</td>
                    <td>VZ</td> 
                  </tr>
                  <tr>
                    <td>Facebook</td>
                    <td>FB</td> 
                   
                  </tr>
                  
                  <tr>
                    <td>Tesla</td>
                    <td>TSLA</td> 
                   
                  </tr>
                  <tr>
                    <td>Microsoft</td>
                    <td>MSFT</td> 
                   
                  </tr>
                </table>
            </div>
            <div>
               
               <p> After you invested in the stock: {{symbol}}, your balance is now: {{finalbalance}}
               </p>
               
            </div>
        </div>
    </body>
</html>