<html>
    <head>
        <title>Welcome!</title> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
    </head>
    <body>
        <!--image-->
        <div class="Title">
             <h1>Stocks and Climate Change Stimulator</h1>
        </div>
        <div class="container">
            <div>
                <table style="width:100%">
                  <tr>
            <h4>Some stock examples are:</h4>
                    <th>Stock Name</th>
                    <th>Symbol</th> 
                  
                  </tr>
                  <tr>
                    <td>Apple</td>
                    <td>AAPL</td> 
                   
                  </tr>
                  <tr>
                    <td>Verizon</td>
                    <td>VZ</td> 
                  </tr>
                  <tr>
                    <td>Facebook</td>
                    <td>FB</td> 
                   
                  </tr>
                  
                  <tr>
                    <td>Tesla</td>
                    <td>TSLA</td> 
                   
                  </tr>
                  <tr>
                    <td>Microsoft</td>
                    <td>MSFT</td> 
                   
                  </tr>
                </table>
            </div>
            <div>
               
                <p>Start your game here:</p>
                <form method= "post" action="/shares">
                    Stock symbol:
                    <input type="text" name="symbol" />
                    <br>Choose a week to buy: (Please select a Friday!)
                    <label for="week"> </label>
                    <input type="date" name="day" id="camp-week"
                     min="1998-01-01" max="2019-07-26" required>
                     <br>
                    <br> Balance you're starting with:
                    <input type="text" name="Balance" /> 
                    <br> <input type="submit" value="Submit"/> </br>
                </form>
            </div>
        </div>
    </body>
</html>